@model IdentityProvider.Quickstart.Device.DeviceAuthorizationViewModel

<div class="page-device-confirmation">
    <div class="lead">
        @if (Model.ClientLogoUrl != null)
        {
            <h1 class="client-logo">DAMA</h1>
        }
        <h1>
            @Model.ClientName
            <small class="text-muted">Is requesting your permission</small>
        </h1>
        @if (Model.ConfirmUserCode)
        {
            <p>
                Please confirm that the authorization request quotes the code:
                <strong>@Model.UserCode</strong>.
            </p>
        }
        <p>Uncheck the permissions you do not wish to grant.</p>
    </div>

    <div class="row confirmation">
        <div class="col-sm-8">
            <partial name="_ValidationSummary" />
        </div>
    </div>

    <form asp-action="Callback" class="form-container">
        <input asp-for="UserCode" type="hidden" value="@Model.UserCode" />
        <div class="row">
            <div class="col-sm-8">
                @if (Model.IdentityScopes.Any())
                {
                    <div class="form-group">
                        <div class="card">
                            <div class="card-header">
                                <span class="glyphicon glyphicon-user"></span>
                                Personal Information
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (var scope in Model.IdentityScopes)
                                {
                                    <partial name="_ScopeListItem" model="@scope" />
                                }
                            </ul>
                        </div>
                    </div>
                } @if (Model.ApiScopes.Any())
                {
                    <div class="form-group">
                        <div class="card">
                            <div class="card-header">
                                <span class="glyphicon glyphicon-tasks"></span>
                                Application Access
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (var scope in Model.ApiScopes)
                                {
                                    <partial name="_ScopeListItem" model="scope" />
                                }
                            </ul>
                        </div>
                    </div>
                }

                <div class="form-group">
                    <div class="card">
                        <div class="card-header">
                            <span class="glyphicon glyphicon-tasks"></span>
                            Description
                        </div>
                        <div class="card-body">
                            <input class="form-control"
                                   placeholder="Description or name of device"
                                   asp-for="Description"
                                   autofocus />
                        </div>
                    </div>
                </div>

                @if (Model.AllowRememberConsent)
                {
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox"
                               name="checkbox"
                               value="remember"
                               asp-for="RememberConsent" />
                            <label for="checkbox" asp-for="RememberConsent">
                                <strong style="font-size: 10px; font-weight: 100">Remember My Decision</strong>
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <button name="button"
                        value="yes"
                        class="form__button"
                        autofocus
                        style="width: 20rem"
                        ;>
                    Yes, Allow
                </button>
                <button name="button"
                        value="no"
                        class="form__button"
                        style="width: 20rem"
                        ;>
                    No, Do Not Allow
                </button>
            </div>
            <div class="col-sm-4 col-lg-auto">
                @if (Model.ClientUrl != null)
                {
                    <a class="btn btn-outline-info" href="@Model.ClientUrl">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <strong>@Model.ClientName</strong>
                    </a>
                }
            </div>
        </div>
    </form>
</div>